$cornflower-blue:#61ABED;
$cinnabar: #E54537;
$ocean-green: #41B883;
$caribbean-green: #00D1B2;
$orange: #FF5B15;
$kashmir-blue:#4F5B93;
$ripe-lemon: #EFD81D;
$royal-purple: #6D42A4;
$yellow-orange: #FBB03C;
$base-black: #111;
$base-white: #EEE;