@import "bulma/bulma.sass";
@import "_variables.scss";
@import "_mixins.scss";
@import "_animations.scss";

body{
    font-family: 'Fira Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.proyecto{
    margin-bottom: 2em;
    padding: 0;
    border: 1px solid #209cee;
    display: inline-block;
    width: 95vw;
    min-height: 20em;
    vertical-align: top;
    margin: 0 auto 1rem 2.5vw;
    @media only screen and ( min-width: 768px )and (max-width: 1024px){
        margin: 0 2vw 0 2vw;
        width: 45vw;
    }

    @media only screen and (min-width: 1024px){
        
        width: 25vw;
        margin: 0 1vw 2rem 1vw;
    }
    border-radius: 0.5rem;
    
    .proyecto__title{
        font-weight: bold;
        margin-bottom: 0.5em;
        padding-top: 0.25em; 
        padding-bottom: 0.5em; 
        font-size: 1.2em;
        border-radius: 0.5rem 0.5rem 0 0;
    }
    .proyecto__description{
        font-size: 0.9em;
        padding: 1rem;
        min-height: 3em;
    }
    
    img{
        padding: 1rem;
        padding-top: 0;
        padding-bottom: 0;
    }
    .proyecto__cta{
        padding-top: 1rem;
        padding-bottom: 1rem;
        a.button{
            width: 20rem;
            max-width: 80%;
        }
    }
    .Lumen, .Laravel{
        background: $cinnabar;
        color: $base-white;
    }
    .Bulma{
        background: $caribbean-green;
        color: $base-white;
    }
    .Bootstrap{
        background: $royal-purple;
        color: $base-white;
    }
    .PHP{
        background: $kashmir-blue;
        color: $base-white;
    }
    .Handlebars{
        background: $orange;
        color: $base-white;
    }
    .Vue{
        background: $ocean-green;
        color: $base-white;
    }
    .Javascript{
        background: $ripe-lemon;
        color: $base-black;
    }
    .Codeigniter{
        background: $yellow-orange;
        color: $base-black;
    }
    .tag{
        margin: .25em;
        font-size: 0.7em;
        font-weight: bold;
    }
    
}
.hero{
    .typed-cursor{
        font-size: 3.5em;
    }
}
.has-margin-1{
    margin: 1em;
}
.has-margin-05{
    margin: .5em;
}

#modal-proyectos{
    @media screen  and (max-width: 1024px){
        .modal-content {
            height: 100vh;
            width: 75vw;
            overflow: visible;
            max-height: 95vh;
        }
        .title{
            font-size: 24px;
            margin: 0.5rem;
        }
        .subtitle{
            font-size: 18px;
            margin: 0.25rem;
        }
    }
    @media screen  and (min-width: 1024px){
        .modal-content {
            height: 100vh;
            width: 65vw;
            overflow: visible;
            max-height: 100vh;
        }
        .title{
            font-size: 60px;
            margin-bottom: 1.5rem;
        }
        .subtitle{
            font-size: 24px;
            margin-top: 1rem;
            max-width: 100%;
        }
    }
}

#quienes_somos{
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased !important;
    -moz-font-smoothing: antialiased !important;
    text-rendering: optimizelegibility !important;
    font-size: 1.1em;
    p{
        margin-bottom: 0.5rem;
    }
}