<template>
    <nav class="navbar" role="navigation" aria-label="main navigation" @navigate="activeMenu=$event">
        <div class="navbar-brand">
            <router-link class='navbar-item' to="/" @click.native='activeMenu=1'><strong>Tres</strong>0011</router-link>
            <a role="button" class="navbar-burger burger" @click="expanded=!expanded" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" :class="{'is-active' : expanded}"  @click="expanded=!expanded" class="navbar-menu">
            <div class="navbar-start">
                <router-link class='navbar-item' to="/quienes" :class="{'menu-active': activeMenu==6}" @click.native="activeMenu=6">¿Quiénes somos?</router-link>
                <div class="navbar-item has-dropdown is-hoverable" :class="{'menu-active': activeMenu==7}">
                    <a class="navbar-link">
                        Curriculums
                    </a>
                    <div class="navbar-dropdown">
                        <router-link class='navbar-item' to="/curriculum" @click.native='activeMenu=7'>Desarrollo</router-link>
                        <hr class="navbar-divider">
                        <a class="navbar-item is-disabled">
                            Diseño
                        </a>
                    </div>
                </div>     
                <router-link class='navbar-item' to="/desarrollo" :class="{'menu-active': activeMenu==3}" @click.native="activeMenu=3">Desarrollo</router-link>        
                <router-link class='navbar-item' to="/redes" :class="{'menu-active': activeMenu==4}" @click.native="activeMenu=4">Infraestructura</router-link>        
                <router-link class='navbar-item' to="/servidores" :class="{'menu-active': activeMenu==5}" @click.native="activeMenu=5">Servidores</router-link>
                <router-link class='navbar-item' to="/proyectos" :class="{'menu-active': activeMenu==2}" @click.native="activeMenu=2">Proyectos</router-link>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                        <a class="icon has-text-black-ter" href="https://www.linkedin.com/in/ctmelgoza/" target="social">
                            <i class="fa fa-2x fa-linkedin-square" aria-hidden="true"></i>
                        </a>
                        <a class="icon has-text-black-ter" href="https://www.github.com/delebrindel/" target="social">
                            <i class="fa fa-2x fa-github" aria-hidden="true"></i>
                        </a>
                        <a class="icon has-text-black-ter" href="https://gitlab.com/delebrindel/tres0011-web" target="social">
                            <i class="fa fa-2x fa-gitlab" aria-hidden="true"></i>
                        </a>
                </div>
            </div>
        </div>
    </nav>
</template>

<script>
    export default {
        name: 'Navbar',
        data: function(){
            return {
                expanded: false,
                activeMenu: 1
            }
        },
        props:{
            'active': Number
        },
      watch: { 
          active: function(newVal) { // watch it
          this.activeMenu = newVal;
        }
      }
    }
</script>
<style scoped>
.is-disabled{
pointer-events: none;
opacity: .65;
}
.navbar-end .navbar-item a.icon{
    margin-right: .5em;

}
.menu-active{
    font-weight: bold;
}
</style>
