<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Tres0011</title>
    <link rel="stylesheet" defer href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
    <meta name="description" content ="Soluciones tecnológicas a la medida de sus necesidades. Aplicaciones, Sistemas y Páginas Web a la medida.">
    <meta name="keywords" content ="Desarrollo, Development, Vue, Aplicaciones, HTML, Wordpress, Sistemas, Javascript, Front-end, Diseño">
    <meta name="google-site-verification" content="Dx31ZWoXdmefHWLSk7JbG_p6uF3cJoJRr7vOkAsfu7I" />
    <meta name=msapplication-TileColor content=#2b5797>
    <meta name=theme-color content=#ffffff>
    <link defer rel=apple-touch-icon sizes=180x180 href=/assets/favicons/apple-touch-icon.png>
    <link defer rel=icon type=image/png sizes=32x32 href=/assets/favicons/favicon-32x32.png>
    <link defer rel=icon type=image/png sizes=16x16 href=/assets/favicons/favicon-16x16.png>
    <link defer rel=manifest href=/assets/favicons/site.webmanifest>
    <link defer rel=mask-icon href=/assets/favicons/safari-pinned-tab.svg color=#5bbad5>
    <link defer rel="shortcut icon" href=/assets/favicons/favicon.ico>
    <meta name=msapplication-config content=/assets/favicons/browserconfig.xml>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but batali doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
