<template>
    <h1>CV</h1>
</template>

<script>
    export default {
        name: 'home',
        mounted(){
            window.location.href = 'https://tres0011.com/cv/dev.html'
        }
    }
</script>