<template>
    <div class="home">
    <Hero title="Desarrollo" subtitle="Proyectos realizados de acuerdo con sus necesidaddes" class="py-2" size="small" type="link" />
        <section id="more-info" class="section pt-2 mx-1">
            <div class="columns">
                <div class="is-12 column has-text-centered px-2">
                    <h2 class="title has-text-dark-grey has-text-left">Desarrollo Web</h2>
                    <div class="columns">
                        <div class="is-8 column has-text-left">  
                            <img src="assets/img/undraw/design.svg" class="mh-3 mb-5" alt="Web design">
                            <p class="my-3 has-text-weight-bold">Analizamos tus necesidades para generar un desarrollo a la medida que resuleva las problemáticas que necesitas atender.</p>
                            <p>Diseño web.</p>
                            <p>Páginas web, Blogs, Tiendas en línea</p>
                            <p>Control de inventarios, acceso, punto de venta, aplicaciones.
                            </p>
                        </div>
                        <div class="is-one-quarter has-text-right">
                            <div>
                                <a href="https://reactjs.org/" target="tech">
                                    <img src="assets/img/brands/dev/react.png" alt="React" class="mh-1 m-2">
                                </a>
                                <a href="https://vuejs.org/" target="tech">
                                    <img src="assets/img/brands/dev/vue.png" alt="Vue" class="mh-1 m-2">
                                </a>
                                <a href="https://angular.io/" target="tech">
                                    <img src="assets/img/brands/dev/angular.png" alt="Angular" class="mh-1 m-2">
                                </a>
                                <a href="https://laravel.com/" target="tech">
                                    <img src="assets/img/brands/dev/laravel.png" alt="Laravel" class="mh-1 m-2">
                                </a>
                            </div>
                            <div>
                                <a href="https://www.w3schools.com/css/">
                                    <img src="assets/img/brands/dev/css3.png" alt="CSS 3" class="mh-1 m-2">
                                </a>
                                <a href="https://codeigniter.com/" target="tech">
                                    <img src="assets/img/brands/dev/codeigniter.png" alt="Codeigniter" class="mh-1 m-2">
                                </a>
                                <a href="https://www.php.net/" target="tech">
                                    <img alt="PHP" src="assets/img/brands/dev/php.png" class="mh-1 m-2">
                                </a>
                                <a href="https://jquery.com/" target="tech">
                                    <img src="assets/img/brands/dev/jquery.png" alt="Jquery" class="mh-1 m-2">
                                </a>
                            </div>
                            <div>
                                <a href="https://mariadb.org/" target="tech">
                                    <img src="assets/img/brands/dev/mariadb.png" alt="Maria DB" class="mh-1 m-2">
                                </a>
                                <a href="https://www.microsoft.com/en-us/sql-server/sql-server-2019" target="tech">
                                    <img src="assets/img/brands/dev/sqlserver.png" alt="SQL Server" class="mh-1 m-2">
                                </a>
                                <a href="https://mongodb.com/" target="tech">
                                    <img src="assets/img/brands/dev/mongo.png" alt="Mongo DB" class="mh-1 m-2">
                                </a>
                                <a href="https://www.android.com/" target="tech">
                                    <img src="assets/img/brands/dev/android.png" alt="Android" class="mh-1 m-2">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    import Hero from '@/components/bulma/Hero.vue'

    export default {
        name: 'Desarrollo',
        data: function () {
            return {
                Web: [],
                Otros: [],
                selector: 'ALL'
            }
        },
        components: {
            Hero
        }
    }
</script>
<style scoped>
    p {
        margin-top: .5em;
    }
</style>