<template>
  <div class="home">
    <Hero title="<strong>Tres</strong> 0011^1500" typed subtitle="
<p class='mt-2'>Somos un equipo de profesionales enfocados en ofrecer soluciones tecnológicas personalizadas para tu empresa.</p>
<p class='my-1'><small>Contamos con experiencia en:</small></p>
<p class='is-hidden-touch'><small>Diseño Web / Aplicaciones móviles / Infraestructura / Sistemas a la medida</small></p>
<div class='is-hidden-desktop'>
  <p>Diseño Web</p>
  <p>Aplicaciones móviles</p>
  <p>Infraestructura</p>
  <p>Sistemas a la medida</p>
  </div>" class="py-2" size="small" type="link" />
    <section class="section has-text-centered" id="more-info">
      <div class="columns has-text-centered slide-in-fwd-center is-multiline">
        <router-link class='is-half column' to="/desarrollo" @click.native="changeRoute(3)">
          <i class="fa fa-5x has-text-link fa-desktop" aria-hidden="true"></i>
          <h5 class='is-size-5 has-text-black-ter has-text-weight-bold'>Desarrollo</h5>
          <p class="has-text-black-bis">Diseño de sistemas y aplicaciones (web y móvil).</p>
          <p class="has-text-grey">Generamos soluciones personalizadas para ayudarte a resolver tus problemas.</p>
        </router-link>
        <router-link class='is-half column' to="/redes" @click.native="changeRoute(4)">
          <i class="fa fa-5x has-text-link fa-wifi" aria-hidden="true"></i>
          <h5 class='is-size-4 has-text-black-ter has-text-weight-bold'>Redes e infraestructura</h5>
          <p class="has-text-black-bis">Configuración e instalación</p>
          <p class="has-text-grey">
            Redes de datos, redes de voz, conmutadores, cortafuegos y CCTV.
          </p>
        </router-link>
        <router-link class='is-half column' to="/servidores" @click.native="changeRoute(5)">
          <i class="fa fa-5x has-text-link fa-server" aria-hidden="true"></i>
          <h5 class='is-size-4 has-text-black-bis has-text-weight-bold'>Servidores</h5>
          <p class="has-text-black-ter">Configuración e instalación</p>
          <p class="has-text-grey">
            Servidores WEB, bases de datos, Servidores COI y CONTPAQ
          </p>
        </router-link>
        <router-link class='is-half column' to="/proyectos" @click.native="changeRoute(2)">
          <i class="fa fa-briefcase fa-5x has-text-link" aria-hidden="true"></i>
          <h5 class='is-size-4 has-text-black-bis has-text-weight-bold'>Nuestros proyectos</h5>
          <p class="has-text-black-ter">Portafolio</p>
          <p class="has-text-grey">
            Breve recuento de los proyectos que hemos realizado
          </p>
        </router-link>
      </div>
    </section>
  </div>
</template>

<script>
  // @ is an alias to /src
  import Hero from '@/components/bulma/Hero.vue'

  export default {
    name: 'home',
    components: {
      Hero
    },
    methods: {
      changeRoute: function (Value) {
        this.active = Value;
        this.$emit('navigate', Value);
      }
    }
  }
</script>
<style scoped>
  a {
    color: #000;
  }
</style>