<template>
	<div class="home">
		<Hero
			title="Proyectos"
			subtitle="Los proyectos que hemos realizado"
			class="py-2"
			size="small"
			type="link"
		/>
		<section id="more-info has-text-centered">
			<project-filter @changed-filter="selector = $event"></project-filter>
			<div class="wrapper has-text-centered">
				<TresProyecto
					class="scale-in-center"
					v-for="Project in Projects"
					:key="Project.name"
					:name="Project.name"
					v-bind:active="selector"
					:desc="Project.desc"
					:type="Project.type"
					v-bind:stack="Project.stack"
					:status="Project.status"
					:link="Project.link"
					:img="Project.img"
					@clicked-image="openModal(Project)"
				>
				</TresProyecto>
			</div>
		</section>
		<div class="modal" id="modal-proyectos" :class="{ 'is-active': isActive }">
			<div class="modal-background"></div>
			<div class="modal-content has-text-centered">
				<h1 class="title has-text-white" v-text="titulo"></h1>
				<img :src="imagen" :alt="titulo" />
				<p
					class="subtitle has-text-light has-text-centered"
					v-text="descripcion"
				></p>
			</div>
			<button
				class="modal-close is-large"
				aria-label="close"
				@click="isActive = false"
			></button>
		</div>
	</div>
</template>

<script>
import Hero from "@/components/bulma/Hero.vue";
import TresProyecto from "@/components/tres0011/TresProyecto.vue";
import ProjectFilter from "@/components/tres0011/ProjectFilter.vue";

export default {
	name: "Proyectos",
	data: function () {
		return {
			Projects: [],
			selector: "ALL",
			isActive: false,
			titulo: "",
			descripcion: "",
			imagen: "",
			status: "",
			link: "",
		};
	},
	components: {
		Hero,
		TresProyecto,
		ProjectFilter,
	},
	mounted() {
		let vm = this;
		this.$axios.get("assets/data/data.json").then(function (response) {
			vm.Projects = response["data"]["Projects"];
		});
		document.body.addEventListener("keyup", (e) => {
			if (e.keyCode === 27) {
				this.isActive = false;
			}
		});
	},
	methods: {
		openModal: function (ProjectInfo) {
			this.isActive = true;
			this.titulo = ProjectInfo.name;
			this.descripcion = ProjectInfo.desc;
			this.imagen = "assets/img/proyectos/" + ProjectInfo.img;
			this.status = ProjectInfo.status;
			this.link = ProjectInfo.link;
		},
	},
};
</script>
<style scoped>
p {
	margin-top: 0.5em;
}
</style>