<template>
    <div class="home">
    <Hero title="¿Quiénes Somos?" subtitle="Tres 0011" class="py-2" size="small" type="link" />
        <section class="container py-0 section mb-3" id="quienes_somos">
            <div class="slide-in-fwd-center w-75">
                <p class="is-size-5">Somos un equipo de amantes de la tecnología que busca ayudarte a cumplir tus
                    objetivos.</p>
                <p class="is-size-5">Sabemos codificar y decodificar el lenguaje visual y de programación y por medio de
                    este conocimiento queremos ayudar a que la gente pueda darse a conocer por medio de herramientas
                    digitales.</p>
                <p class="lead is-size-5">Así como para ti tus clientes son importantes, tu lo eres para nosotros,
                    queremos darte la posibilidad de enfocar tus esfuerzos en que realices lo que mejor sabes hacer,
                    mientras nosotros resolvemos tus necesidades tecnológicas.</p>
                <div class="has-text-centered">
                    <img src="assets/img/undraw/development.svg" class="mh-4" alt="Web design">
                </div>
                <blockquote class="content is-size-6 has-text-grey-light has-text-right">Para que haya una correcta
                    comunicación, independientemente de cuál sea el mensaje, se debe conocer un lenguaje en común.
                </blockquote>
                <h2 class="subtitle has-text-link is-size-4 mt-2">¿Por qué nace Tres 0011?</h2>
                <p class="is-size-5">Las máquinas comprenden binario y nosotros comprendemos el lenguaje cotidiano. Es
                    por eso que nos llamamos <strong>Tres</strong> (lenguaje cotidiano) <code>0011</code> (lenguaje
                    binario). Nuestra labor es traducir al lenguaje de las máquinas lo que nuestros clientes dominan
                    para que la máquina lo "comprenda" y puedas utilizar a las máquinas como herramienta para hacer
                    crecer tu negocio.
                </p>
                <div class="has-text-centered">
                    <img src="assets/img/undraw/machine.svg" class="mh-4" alt="Web design">
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    import Hero from '@/components/bulma/Hero.vue'
    export default {
        name: 'home',
        components: {
            Hero
        }
    }
</script>