<template>
    <div class="home">
    <Hero title="Infraestructura" subtitle="Resolvemos sus necesidades de conectividad." class="py-2" size="small" type="link" />
        <section id="more-info" class="section mt-0 pt-0">
            <div class="columns">
                <div class="has-text-centered mb-2 column is-half">
                    <img src="assets/img/undraw/team.svg" class="has-text-centered mh-6" alt="Web design">
                </div>
                <div class="column is-half">
                        <h2 class="title has-text-grey">Tecnologías empleadas</h2>
                    <div class="columns  is-mobile is-multiline has-text-centered">
                        <TresTech class="flip-in-hor-bottom" v-for="tech in tecnologias" :span="tech.span"
                            :key="tech.name" :name="tech.name" :img="tech.img"></TresTech>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    import Hero from '@/components/bulma/Hero.vue'
    import TresTech from '@/components/tres0011/TresTech.vue'

    export default {
        name: 'Redes',
        data: function () {
            return {
                tecnologias: []
            }
        },
        components: {
            Hero,
            TresTech
        },
        mounted() {
            let vm = this;
            this.$axios.get('assets/data/redes.json')
                .then(function (response) {
                    vm.tecnologias = response['data'];
                })
        }
    }
</script>
<style scoped>
    p {
        margin-top: .5em;
    }
</style>