<template>
    <div class="home">
    <Hero title="Servidores" subtitle="Configuración, instalación y administración de servidores<br><small>(Para páginas web, correo, almacenamiento y más)</small>" class="py-2" size="small" type="link" />
        <section id="more-info" class="section mt-0">
            <div class="has-text-centered">
                <div class="columns ">
                    <div class="has-text-centered mb-2 is-half column">
                        <img src="assets/img/undraw/server.svg" class="has-text-centered mh-5" alt="Web design">
                    </div>
                    <div class="is-half column">
                    <h2 class="title">Tecnologías empleadas</h2>
                        <div class="columns is-mobile is-multiline">
                            <TresTech class="flip-in-hor-bottom" v-for="tech in tecnologias" :span="tech.span"
                                :key="tech.name" :name="tech.name" :img="tech.img"></TresTech>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    import Hero from '@/components/bulma/Hero.vue'
    import TresTech from '@/components/tres0011/TresTech.vue'

    export default {
        name: 'Servidores',
        data: function () {
            return {
                tecnologias: []
            }
        },
        components: {
            Hero,
            TresTech
        },
        mounted() {
            let vm = this;
            this.$axios.get('assets/data/servidores.json')
                .then(function (response) {
                    vm.tecnologias = response['data'];
                })
        }
    }
</script>
<style scoped>
    .hero {
        margin-bottom: 1em;
    }
</style>