<template>
  <section class="hero is-bold has-text-centered"
    v-bind:class="[(size!=undefined?'is-'+size : ''),(type!=undefined?'is-'+type : '')]">
    <div class="hero-body">
      <div class="container">
        <h1 v-if="!typed" class="title" :class="[(color!=undefined?'has-text-'+color : '')]" v-text="title"></h1>
        <span v-if="typed" class="title" id="Typer" :class="[(color!=undefined?'has-text-'+color : '')]"></span>
        <h2 class="subtitle" v-html="subtitle"></h2>
      </div>
    </div>
  </section>
</template>

<script>
  import Typed from 'typed.js';
  export default {
    name: 'VidmaHero',
    props: {
      'title': String,
      'subtitle': String,
      'type': String,
      'size': String,
      'color': String,
      'typed': Boolean
    },
    mounted() {
      if (this.typed) {
        var options = {
          strings: [this.title],
          typeSpeed: 120,
          something: ""
        }
        var typed = new Typed("#Typer", options);

        setTimeout(function () {
          typed.stop();
          if (document.getElementsByClassName("typed-cursor typed-cursor--blink").length > 0) {
            document.getElementsByClassName("typed-cursor typed-cursor--blink")[0].style = 'display:none';
          }
        }, 6500);
      }
    }
  }
</script>
<style scoped>
  .title {
    font-size: 2.5rem;
  }

  .typed-cursor .typed-cursor--blink {
    font-size: 3.5rem;
  }
  .subtitle{
    font-size: 1.5rem;
  }
  .hero {
    margin-bottom: 1em;
  }
  p {
    font-size: 1.5rem;
  }
</style>