@media print {
  body{
    font-size: 1.2em;
  }
  .noprint{
    display: none;
  }
}
.container-fluid{
  padding-right: 0;
  padding-left: 0;
}
.circulo{
  border-radius: 50%;
  border: 6px solid #fff;
}
.row{
  margin-left: 0;
  margin-right: 0;
}
.color-iblue{
  color:#000023;
}
.color-white{
  color: #fff;
}
.verticaltext {
  position: relative; 
  padding-left:50px;
  min-height:500px;
}
ul{
  list-style: square;
}
.bg-iprimary{
  background: #83adcc;
}
.color-iprimary{
  color: #83adcc;
}
.color-isecondary{
  color: #1811A3;
}
@media (min-width: 576px) { ... }
ul.timeline {
  list-style-type: none;
  position: relative;
}
ul.timeline:before {
  content: ' ';
  background: #d4d9df;

  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}
ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
}
ul.timeline > li:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #22c0e8;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}

.list-unstyled{
  font-size: 0.8rem;
}