<template>
	<section class="container my-2">
		<div class="card">
			<nav class="has-background-link has-text-white has-text-centered py-1">
					<h1 class="title has-text-white">Cristóbal Torres</h1>
					<h2 class="subtitle has-text-white">Full-Stack Developer</h2>
			</nav>
			<div class="card-content">
				<div class="field is-hidden-desktop has-text-centered my-1">
					<div class="select is-rounded is-fullwidth has-text-centered">
						<select v-model="selector">
							<option value="about">About Me</option>
							<option value="work">Work</option>
							<option value="technical">Technical</option>
						</select>
					</div>
					<p class="control my-1">
						<a
							class="button is-info is-fullwidth"
							href="cv/dev.html"
							target="cv"
						>
							<i class="fa fa-2x fa-ellipsis-h" aria-hidden="true"></i>
						</a>
					</p>
				</div>
				<div class="buttons has-addons">
					<button :class="{'is-danger': selectedLanguage === 'eng'}" @click="changeLanguage('eng')" class="button">ENG</button>
					<button :class="{'is-danger': selectedLanguage === 'spa'}" @click="changeLanguage('spa')" class="button">SPA</button>
				</div>
				<TresAboutMe :language="selectedLanguage" v-if="selector === 'about'" />
				<TresWorkExperience :language="selectedLanguage" v-if="selector === 'work'" />
				<TresTechnicalSkills :language="selectedLanguage" v-if="selector === 'technical'" />
			</div>
			<TresAboutNavigation @changed-filter="selector=$event"></TresAboutNavigation>
		</div>
	</section>
</template>
<script src="./about.js"></script>
<style scoped>
.card-content {
	min-height: 70vh;
}
</style>
