
<template>
	<div>
		<div v-if="Object.keys(aboutMe).length === 0" class="has-text-centered">
			<TresCrossLoader />
		</div>
		<div v-else>
			<div class="columns">
				<div class="is-4 column has-text-centered">
					<h3 class="subtitle has-text-weight-bold" v-text="aboutMe.intro"></h3>
					<div class="block is-size-6 has-text-grey" v-text="aboutMe.brief"></div>
					<img class="circular" src="/cv/img/prof.jpg" alt="Cristóbal" />
					<p><i class="fa fa-globe" aria-hidden="true"></i> <span v-text="aboutMe.city"></span></p>
				</div>
				<div class="is-8 column is-size-5 my-4">
					<div
						class="block"
						v-for="item in aboutMe.content"
						:key="item"
						v-html="item"
					></div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
import TresCrossLoader from "@/components/loaders/CrossLoader";
export default {
	name: "TresAboutMe",
	props: ["language"],
	data: function () {
		return {
			aboutMe: {}
		};
	},
	watch: {
		language: function (newLanguage) {
			this.loadInfo(newLanguage);
		},
	},
	mounted() {
		this.loadInfo(this.language)
	},
	components: {
		TresCrossLoader,
	},
	methods: {
		changedLanguage: function (newLanguage) {
			this.loadInfo(newLanguage);
		},
		loadInfo: function (language) {
			let vm = this;
			let selectedLanguage = language === "eng" ? "english" : "spanish";
			this.aboutMe = {};
			this.$axios
				.get("assets/data/cv/" + selectedLanguage + "/about.json")
				.then(function (response) {
					vm.aboutMe = response["data"]["aboutMe"];
			});
		},
	},
};
</script>
<style scoped>
.circular {
	border-radius: 100%;
}
</style>