<template>
	<nav class="card-footer is-hidden-touch has-background-info has-text-white">
		<span
			class="card-footer-item"
			@click="changeFilter('about')"
			:class="{
				'has-background-link has-text-white': selector === 'about',
			}"
		>
			<i class="fa fa-2x fa-male" aria-hidden="true"></i>
		</span>
		<span
			class="card-footer-item"
			@click="changeFilter('work')"
			:class="{ 'has-background-link has-text-white': selector === 'work' }"
		>
			<i class="fa fa-2x fa-briefcase" aria-hidden="true"></i>
		</span>
		<span
			class="card-footer-item"
			@click="changeFilter('technical')"
			:class="{
				'has-background-link has-text-white': selector === 'technical',
			}"
		>
			<i class="fa fa-2x fa-rocket" aria-hidden="true"></i>
		</span>
		<a class="has-text-white card-footer-item" href="cv/dev.html" target="cv">
			<i class="fa fa-2x fa-ellipsis-h" aria-hidden="true"></i>
		</a>
	</nav>
</template>
<script>
export default {
	name: "TresAboutNavigation",
	data: function () {
		return {
			selector: "about",
		};
	},
    methods: {
        changeFilter: function(newValue){
			this.selector = newValue;
			this.$emit('changed-filter',newValue);
        }
    }
};
</script>