
<template>
	<div class="content">
		<h3 class="subtitle has-text-info">{{language === 'eng' ? 'Technical Skills' : 'Habilidades Técnicas'}}</h3>
		<div v-if="Object.keys(technicalSkills).length === 0" class="has-text-centered">
			<TresCrossLoader/>
		</div>
		<div v-else>
		<div class="columns">
		<div class="column column-is-3" v-for="item in technicalSkills" :key="item.id">
			<figure class="media-left">
				<p class="image is-64x64">
					<img :src="item.img" />
				</p>
			</figure>
			<div class="media-content">
				<div class="content">
					<p>
						<strong v-text="item.name"></strong>
						<br />
						<span v-text="item.description"></span>
						<ul>
							<li v-for="framework in item.frameworks" :key="framework" v-text="framework"></li>
						</ul>
					</p>
				</div>
			</div>
		</div>

			</div>
		</div>
	</div>
</template>
<script>
import TresCrossLoader from "@/components/loaders/CrossLoader";
export default {
	name: "TresTechnicalSkills",
	props: ["language"],
	data: function () {
		return {
			technicalSkills: [],
		};
	},
	mounted() {
		this.loadInfo(this.language);
	},
	watch: {
		language: function (newLanguage) {
			this.loadInfo(newLanguage);
		},
	},
	methods: {
		loadInfo: function (language) {
			let vm = this;
			let selectedLanguage = language === "eng" ? "english" : "spanish";
			this.aboutMe = {};
			this.$axios
				.get("assets/data/cv/" + selectedLanguage + "/technologies.json")
				.then(function (response) {
					vm.technicalSkills = response["data"]["technologies"];
			});
		},
	},
	components: {
		TresCrossLoader,
	},
};
</script>