<template>
	<div class="content">
		<div
			v-if="workExperience.length === 0"
			class="has-text-centered"
		>
			<TresCrossLoader />
		</div>
		<div v-else>
			<div class="columns">
				<div class="is-4 column employment-list">
					<article class="panel">
						<div class="panel-heading has-background-link has-text-white">{{language === 'eng' ? 'Work Experience' : 'Experiencia Laboral'}}</div>
						<a
							class="panel-block"
							v-for="item in workExperience"
							:key="item.id"
							:class="{ 'is-active has-text-weight-bold': selector === item.id }"
							@click="changeFilter(item.id)"
						>
						<span class="panel-icon">
							<i class="fa fa-book" aria-hidden="true"></i>
						</span>
						<p>
							{{ item.position }} {{language === 'eng' ? 'at' : 'en'}}  {{ item.company }}<br>
							<span class="is-size-7 has-text-grey">{{item.startedAt}} {{language === 'eng' ? 'to' : 'a'}} {{item.finishedAt}}</span>
						</p>
						</a>
					</article>
				</div>
				<div class="is-8 column">
					<p>{{ activeContent.description }}</p>
					<p class="has-text-weight-bold">{{language === 'eng' ? 'Technologies used:' : 'Tecnologías empleadas:'}}  </p>
					<ul>
						<li
							v-for="techItem in activeContent.technologies"
							:key="techItem"
							v-text="techItem"
						></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
import TresCrossLoader from "@/components/loaders/CrossLoader";
export default {
	name: "TresWorkExperience",
	props: ["language"],
	data: function () {
		return {
			workExperience: [],
			selector: 1,
			activeContent: {},
		};
	},
	components: {
		TresCrossLoader,
	},
	watch: {
		language: function (newLanguage) {
			this.loadInfo(newLanguage);
		},
	},
	mounted() {
		this.loadInfo(this.language)
	},
	methods: {
		changeFilter: function (Value) {
			this.selector = Value;
			this.activeContent = this.workExperience.find(
				(element) => element.id == this.selector
			);
		},
		loadInfo: function (language) {
			let vm = this;
			let selectedLanguage = language === "eng" ? "english" : "spanish";
			this.workExperience = [];
			this.$axios
				.get("assets/data/cv/" + selectedLanguage + "/work.json")
				.then(function (response) {
					vm.workExperience = response["data"]["experience"];
					vm.changeFilter(1);
			});
		},
	},
};
</script>
<style scoped lang="scss">
.employment-list--item {
	cursor: pointer;
	&.active {
		font-weight: bold;
	}
}
.panel-heading{
  margin-bottom: 0px;
}
</style>
