<template>
  <div id="app">
    <navbar v-bind:active="active"></navbar>
    <router-view @navigate="check($event)"/>
  </div>
</template>

<style lang="scss">
  @import "@/assets/scss/base.scss";
</style>
<script>
  import Navbar from '@/components/shared/Navbar.vue'
  export default {
    components: {
      Navbar
  },
  data: function(){
    return {
      active: 1
    }
  },
  methods: {
    check: function(Value){
      this.active = Value;
    }
  },
}
</script>