<template>
    <div class="container has-text-centered">
        <h1 class="subtitle">Filtrar por tipo</h1>
        <button class="is-large is-light button"  @click="changeFilter('ALL')" :class="{ 'is-primary' : active=='ALL'}">Todos</button>
        <button class="button is-large is-light" @click="changeFilter('SIST')" :class="{ 'is-primary' : active=='SIST'}">Sistema</button>
        <button class="button is-large is-light" @click="changeFilter('WEB')" :class="{ 'is-primary' : active=='WEB'}">Página Web</button>
        <button class="button is-large is-light" @click="changeFilter('MISC')" :class="{ 'is-primary' : active=='MISC'}">Otros</button>
    </div>
</template>

<script>
    export default {
        name: 'ProjectFilter',
        data: function(){
            return {
                active: 'ALL'
            }
        },
        methods: {
            changeFilter : function (Value){
                this.active=Value;
                this.$emit('changed-filter',Value);
            }
        } 
    }
</script>
<style lang="scss" scoped>
    .button{
        margin: .25em;
    }   
    .container{
        margin-top: 1em;
        margin-bottom: 1em;
    } 
</style>
