<template>
  <div class="proyecto is-one-third-desktop is-one-quarter-widescreen column" v-if="active==type || active=='ALL' || type=='FS' && (active=='FE' || active=='BE')">
    <h5 class="proyecto__title has-text-centered" v-text="name"></h5>
    <a :data-title="name" :href="'assets/img/proyectos/'+img"  data-lightbox="proyectos" >
    <img class="proyecto__img" :src="'assets/img/proyectos/'+img" alt="Card image cap" style="cursor: pointer;">
    </a>
    <p class="proyecto__description" v-text="desc"></p>
    <span :class="['tag',tech]" v-for="tech in stack" :key="tech" v-text="tech"></span>
    <hr>
    <div class="proyecto__cta has-text-right">
      <a v-if="status=='active'" :href="link" target="showcase" class='button is-primary'>Visitar</a>
      <a v-if="status=='inactive'" disabled class='button is-danger'>En progreso</a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TresTech',
  props: {
    'name': String,
    'link': String,
    'img': String,
    'type': String
  }
}
</script>
