<template>
  <div class="proyecto" v-if="active==type || active=='ALL' || type=='FS' && (active=='FE' || active=='BE')">
    <h5 class="proyecto__title has-background-info has-text-white-bis has-text-centered is-size-4 has-text-black-ter" v-text="name"></h5>
    <p class="proyecto__description has-text-grey-darker" v-text="desc"></p>
    <br>
    <img class="proyecto__img" :src="'assets/img/proyectos/'+img" alt="Card image cap" @click="clickedImage()" style="cursor: pointer;">
    <div class="proyecto__cta is-full-width has-text-centered">
      <a v-if="status=='active'" :href="link" target="showcase" class='button is-primary'>Visitar</a>
      <a v-if="status=='inactive'" disabled class='button is-danger'>En progreso</a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TresProyecto',
  props: {
    'stack': Array,
    'name': String,
    'desc': String,
    'status': String,
    'link': String,
    'img': String,
    'active': String,
    'type': String
  },
  methods: {
    clickedImage: function(){
      this.$emit('clicked-image');
    }
  }
}
</script>
