<template>
  <div class="proyecto is-full is-half-desktop is-one-third-widescreen column" v-if="active==type || active=='ALL' || type=='FS' && (active=='FE' || active=='BE')">
    <h5 class="proyecto__title has-background-info has-text-white-bis has-text-centered is-size-4 has-text-black-ter" v-text="name"></h5>
    <p class="proyecto__description has-text-grey-darker" v-text="desc"></p>
    <br>
    <a :data-title="name" :href="'assets/img/proyectos/'+img"  data-lightbox="proyectos" >
    <img class="proyecto__img" :src="'assets/img/proyectos/'+img" alt="Card image cap" style="cursor: pointer;">
    </a>
    <span :class="['tag',tech]" v-for="tech in stack" :key="tech" v-text="tech"></span>
    <hr>
    <div class="proyecto__cta has-text-right">
      <a v-if="status=='active'" :href="link" target="showcase" class='button is-primary'>Visitar</a>
      <a v-if="status=='inactive'" disabled class='button is-danger'>En progreso</a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TresProyecto',
  props: {
    'stack': Array,
    'name': String,
    'desc': String,
    'status': String,
    'link': String,
    'img': String,
    'active': String,
    'type': String
  }
}
</script>
