<template>
    <div class="column" 
    :class="{'is-full-mobile is-half-tablet is-one-half-desktop' : span == 2, 'is-half-mobile is-one-quarter-tablet is-one-fourth-desktop' : span == 1}">
        <img :src="img" :alt="img">
    </div>
</template>

<script>
    export default {
        name: 'TresTech',
        props: {
            'name': String,
            'img': String,
            'span': {
                'type': Number,
                // Object or array defaults must be returned from
                // a factory function
                default: function () {
                    return 1
                }
            },
        }
    }
</script>
<style lang="scss" scoped>
    img {
        height: 128px;
    }
</style>