<template>
    <section class="hero-body has-background-white py-2" id="vue_educacion">
        <div class="container">
            <h1 class="title is-size-3">Educación</h1>
            <div class="container">
                <article class="media">
                    <figure class="media-left">
                        <i class="fas fa-school fa-3x"></i>
                    </figure>
                    <div class="media-content">
                        <div class="field">
                            <p class="control subtitle">
                                Maestría en Administración
                            </p>
                            <div class="level">
                                <div class="level-left">
                                    <div class="level-item">
                                        Universidad La Salle Cuernavaca
                                    </div>
                                </div>
                                <div class="level-right">
                                    <div class="level-item">
                                        <small>
                                            Mar 2012 - Jun 2015
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="media">
                    <figure class="media-left">
                        <i class="fas fa-graduation-cap fa-3x"></i>
                    </figure>
                    <div class="media-content">
                        <div class="field">
                            <p class="control subtitle">
                                Lic. en Ingeniería Cibernética y sistemas computacionales
                            </p>
                            <div class="level">
                                <div class="level-left">
                                    <div class="level-item">
                                        Universidad La Salle Cuernavaca
                                    </div>
                                </div>
                                <div class="level-right">
                                    <div class="level-item">
                                        <small>
                                            Jun 2007 – Dic 2011
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <h1 class="title is-size-3 py-1">Idiomas <i class="fas fa-language"></i></h1>
            <div class="columns py-1">
                <div class="column is-2">
                    <p class="subtitle">Inglés</p>
                </div>
                <div class="column is-4">
                    <a href="https://www.cambridgeenglish.org/latinamerica/exams-and-tests/first/" target="otros">
                    Acreditación Cambridge English: First (FCE)
                    </a>
                </div>
                <div class="column is-2">
                    <p class="subtitle">Español</p>
                </div>
                <div class="column is-4">
                    Lengua materna
                </div>
            </div>
            <h1 class="title is-size-3 py-0">Formación complementaria <i class="fas fa-puzzle-piece"></i></h1>
            <div class="columns py-1">
                <div class="column is-2">
                    <p class="subtitle">Inglés</p>
                </div>
                <div class="column is-4">
                    <a href="https://www.cambridgeenglish.org/latinamerica/exams-and-tests/first/" target="otros">
                    Acreditación Cambridge English: First (FCE)
                    </a>
                </div>
                <div class="column is-2">
                    <p class="subtitle">Español</p>
                </div>
                <div class="column is-4">
                    Lengua materna
                </div>
            </div>
    </section>
</template>
<style>
    #vue_educacion strong,
    #vue_educacion .title {
        color: #111;
    }
</style>