<template>
  <section class="hero-body has-background-black py-2 has-text-white" id="vue_home">
    <div class="container">
      <h1 class="title is-size-1">Acerca de</h1>
      <div class="columns is-mobile is-size-3">
        <div class="column is-8 has-text-white">
          <ul>
            <li>
              <strong>Ocupación: </strong>Administrador de redes
              </li>
              <li>
              <strong>Freelance: </strong>Desarrollador Full-Stack
            </li>
          </ul>
        </div>
        <div class="column is-4">
          <figure class="image center">
            <img src="img/fantoma.png" alt="Fantoma" style="max-width:60%">
          </figure>
        </div>
      </div>
    </div>
  </section>
</template>
<style>
#vue_home strong, #vue_home .title{
  color:#ffffff;
}
</style>
